<button (click)="load()">load dynamic component</button>
<button (click)="removeDynamicComponent()">remove dynamic entry</button>
<br />
<button (click)="lazyLoad()">load lazy component</button>
<button (click)="removeAllLazyEntry()">clear all lazy entry</button>

<br />
<button (click)="loadMore()">load new component</button>
<button (click)="move()">move</button>
<button (click)="removeLazyComponent()">remove lazy only</button>
<button (click)="removeNewComponent()">remove new only</button>

<ng-container #entry></ng-container>
<ng-container #entryLazy></ng-container>
